.pageTitleWithDefaultLogo{
  background-image: url(https://bitbucket.org/netprosystems/netproplay/raw/db5c04bd4e72bdf7774f5bba6c5f963543a0d54c/netpro_emby_logo.png)!important;
  width: 20em;
}

.app-splash {
  background-image: url(https://bitbucket.org/netprosystems/netproplay/raw/db5c04bd4e72bdf7774f5bba6c5f963543a0d54c/netpro_emby_logo.png);
}


￼.pageTitleWithLogo{
  height: 2.0em;
  margin-left: 2em;
}

.pageTitleWithDefaultLogo {
  width: 20em;
}
